* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

.raleway-m {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }

.entire {
    height: 100vh;
    display: flex;
    background: url(assets/wrap-01.jpg);
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.navbar {
    background: #278161;
    display: flex;
    height: 50px;
    align-items: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 20px;
    
}

.navbar ul li {
    padding-right: 20px;
}

.navbar ul li a {
    color: white;
    font-weight:400;
    text-decoration: none;
    display: block;
    justify-content: center;
    align-items: center;
}

.page {
    flex: 1;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    width: 80%; 
}

.left {
    flex: 1; 
}

.right {
    flex: 0 1 auto;  
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: flex-end; 
    max-width: 400px;  
    margin-right: 60px;
}

.right .text h2 {
    margin-right: 70px;
    text-align: center; 
    margin-bottom: 100px;
    font-size: 2em;
    font-weight: 800;
    color:#278161;
}

.right form {
    display: flex;
    flex-direction: column;
}

.right form .input-group {
    margin-bottom: 20px;
    margin-left: 0px;
}

input {
    margin-right: 100px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    padding: 10px;
    padding-bottom: 6px;
    width: 100%;
    max-width: 290px;
}

input:hover {
    border-bottom: 2px solid rgba(39, 129, 97, 1);
    transition: border-bottom 0.2s;
}

input:focus {
    outline:none;
    background: rgba(39, 129, 97, 0.1);
    transition: background 0.2s;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 2px solid rgba(39, 129, 97, 1);
}

.login-button {
    background:transparent;
    border: 2px solid #278161;
    color: #278161;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    letter-spacing: 0.6 px;
    margin-top: 10px;
    max-width: 100%;
    width: 300px;
}

.login-button:hover {
    margin-top: 10px;
    background: rgba(39, 129, 97, 1);
    border: 2px solid transparent;
    color: white;
    transition: background 0.2s;

}   

.register-box {
    padding: 20px;
    font-size: 12.5px;
    margin-right: 25px;
}

.register-button {
    font-size: 12.5px;
    background: transparent;
    color: #278161;
    border: none;
    cursor: pointer;
    position: relative;
}

.register-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #278161;
    transition: width 0.35s;
}

.register-button:hover::after {
    width: 100%;
}
