body {

    background-image: url('assets/login_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {

    text-align: center;

}