* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 1em;
    height: 0;
}

::-webkit-scrollbar-track {
    background: #1a1616;
}

::-webkit-scrollbar-thumb {
    background: #19503d;
    border: 0.3em solid #1a1616;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #278161;
}


a {
    text-decoration: none;
    color: white;    
}
a:hover{
    text-decoration: underline;
}

.raleway-m {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.entire {
    height: 100vh;
    display: flex;
    background: url(../assets/new_bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;

}

.navbar {
    background: #241a08;
    display: flex;
    height: 7.5vh;
    width: 100%;
    align-items: center;
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.5);
    z-index: 10;
    position: fixed;
    padding: 0 2vh;
}

.navbar > img {
    width: auto;
    height: 50%;
    margin: 0 auto;
    padding-right: 20vh;
    position: relative;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin-left: 3vh; 
}

.navbar ul li {
    padding-right: 2vh;
}

.navbar ul li a {
    color: white;
    font-weight: 400;
    text-decoration: none;
    display: block;
    justify-content: center;
    font-size: 2vh;
    align-items: center;
}

.page {
    flex: 1;
    display: flex;
    min-height: 160vh;
    justify-content: center;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.5);
    background: #0a0a06;
    color: white;
    padding: 50px;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-0%, -50%); 
    user-select: none; 
    overflow-y: hidden;
}
  
#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    overflow-y: hidden;
}

.scroll-animation {
    text-align: center;
    margin-top: 20%;
}

.scroll-animation h2 {
    font-size: 5rem;
    height: 100px;
    line-height: 1;
}

.scroll-animation p {
    margin-top: 30px;
    font-size: 1.75rem;
    line-height: 1.5;
    max-width: 80ch;
    margin-inline: auto;
}

.scroll-animation span {
    color: hsl(0 0% 100% / 0.05);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg, #ffae00, rgb(255, 0, 0));
    animation: scroll-animation linear forwards;
    animation-timeline: view();
}

.scroll-animation h2 span {
    animation-range-start: cover 0vh;
    animation-range-end: cover 25vh;
}

.scroll-animation p span {
    animation-range-start: cover 18vh;
    animation-range-end: cover 56vh;
}


@keyframes scroll-animation {
    to { 
        background-size: 100% 100%; 
    }
}


.recipe-list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}


.recipes {
    border: none;
    opacity: 0;
    display: flex;
    min-width: 100vh;
    max-width: 1500px;
    min-height: 10vh;
    padding: 30px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 5px;
    line-height: 27px;
    font-weight: 200;
    letter-spacing: normal;
    transition: letter-spacing 0.25s;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 500px;
    margin-bottom: 10px;
}

@keyframes fade-in {
    to { opacity: 1; }
}

.recipes:hover{
    background-color: hsl(0 0% 100% / 0.1);
    letter-spacing: 0.2px;
    transition: letter-spacing 0.5s;
}

.recipes img{ 
    height: 19vh;
    width: 15vh;
    margin-right: 20px;
    border-radius: 15px;
}

.dropdown {
    margin-top: 50px;
}

.search-bar {
    flex: 0 1 auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    
}

input {
    position: absolute;
    border: none;
    width: 100%;
    max-width: 1200px;
    border-radius: 5px;
    height: 50px;
    color: white;
    background: linear-gradient(0.25turn, #eae5dd, #ecf3be, #f69d3c);
    padding-left: 50px;
    margin: 0;
    font-size: 17.5px;
    transition: background 0.5s ease-in-out;
}

.searchImg {

    position: absolute;
    padding-top: 10px;
    left: 35px;
    height: 40px;
    margin: 0;
}


input:hover {
    border-bottom: 2px solid #af6209;
    transition: border-bottom 0.2s;
}


input:focus {
    outline: none;
    background: linear-gradient(0.25turn, #e3452d, #965123, #6d0404);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 2px solid #591003;

}